<br><br><br>
<div id="content_container" style="margin:0 auto; min-width: 400px; height: 100%;">
  <center><h1>Welcome to Collab</h1>
  <br>
  <h4>A private web page for a private group!</h4>
  <h6>Control who gets access to your group!</h6>

  <h1> Log In </h1>
  <br>

<%= form_tag  sessions_path do  %>

  <p>
    <%= label_tag :email %><br>
    <%= text_field_tag :email %><br><br>
  </p>
  <p>
    <%= label_tag :password %><br>
    <%= password_field_tag :password %><br><br> 
  </p>
  <p>
    <%= submit_tag  "Log In" %>
  </p>
<% end %>
  <p>New User? &ndash; <%= link_to 'Sign up', new_user_path %></p>
  </center>
</div>