<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Nku -Project" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bueller" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link rel="stylesheet" href="welcome.css.scss">
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation.html' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages.html' %>
       <%= yield %>
    </main>
    <footer style="width:100%; background-color:#000000; color:#7F7F7F; height:40px; margin-top: 50px;">
      <center><p style="padding-top:10px;">Created by Collab 2014 - All Rights Reserved</p></center>
    </footer>
  </body>
</html>